---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHero from "../components/sections/home/HomeHero.astro";

const description =
  "BELES develops engineering-led mobility solutions for industrial and commercial transportation.";
---

<BaseLayout title="BELES" description={description}>
  <main id="main">
    <HomeHero />
  </main>
</BaseLayout>
